mlflow==2.21.0  # For model tracking and management
optuna==4.2.1  # For hyperparameter optimization

shap==0.47.0 # For model interpretability
ipython==8.28.0  # For interactive computing and visualization
google-cloud-storage==3.0.0 # For cloud storage integration